.form-control
{
    border-radius: 3px;
    width:600px;
    margin-left: 20px;
}



@media(max-width:1149px){
    .navbar , .navbar-brand
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:640px){
     .form-control
     {
        width:344px;
     }
}

@media(max-width: 375px)
{
    .form-control
     {
        width:247px;
     }
}

.navbar
{
    background-image: url('../../Images/Navbarbg.jpg');
}